{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<style>
    .contact-flex {
        display: flex;
        margin-left: 50px;
    }

    .contact-flex div {
        margin-right: 40px;
    }

    .card {
        border-style: solid;
        margin-bottom: 20px;
        border-color: gray;
        color: gray;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 200px;
        padding-left: 20px;
    }

    input,
    textarea {
        width: 15cm;
        margin-bottom: 10px;
    }

    textarea {
        height: 100px;
        padding: 20px;
    }

    button {
        background: blue;
        color: white;
        border-color: transparent;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 8px;
        padding-left: 8px;
        border-radius: 10px;
        cursor: pointer;
    }

    .map {
        margin-left: 100px;
        width: 11cm;
        height: 450px;
    }

    h1 {
        text-align: left;
        padding-left: 10%;
        background-color: rgb(41, 8, 160);
        color: white;
        margin-bottom: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 90px;
    }

    body {
        background-color: #eee;
    }

    form {
        background-color: white;
        padding: 40px;
        margin-bottom: 20px;
        color: gray;
    }

    .alert {
        background-color: green;
        color: white;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 90px;
        margin-bottom: -60px;
    }

    @media only screen and (max-width: 700px) {
        .contact-flex {
            display: block;
            margin-left: 20px;
        }

        .contact-flex div {
            margin-bottom: 20px;
        }

        .card {
            width: 90vw;
            padding-right: 0px;
        }

        input,
        textarea {
            width: 80vw;
            margin-bottom: 10px;
        }

        textarea {
            height: 100px;
        }

        .map {
            margin-left: 20px;
            width: 90vw;
            height: fit-content;
        }

        h1 {
            text-align: left;
        }

        form {
            width: 90vw;
            padding: 20px;
            margin-bottom: 40px;
        }

        .alert {
            margin-top: 140px;
            margin-bottom: -140px;
        }
    }
</style>
<main>
    <h1>CONTACT US</h1>
    <div class="contact-flex">
        <div>
            <div class="card">
                <h3>ADDRESS</h3>
                <p>123456 street </p>
                <p>New City, Country</p>
                <p>+6v 780B</p>
            </div>
            <div class="card">
                <h3>BUSINESS HOURS</h3>
                <p>Monday - Friday 8am to 4pm</p>
                <p>Saturday - 7am to 6pm</p>
                <p>Sunday - Closed</p>
            </div>
            <div class="card">
                <h3>TELEPHONE</h3>
                <p>+254 789056476</p>
                <p>+254 700000007</p>
            </div>
        </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <h3>DROP US A LINE SO THAT WE CAN HEAR FROM YOU</h3>
                <label for="">Name</label><br>
                {{ form.Name }}<br>
                <label for="">Email</label><br>
                {{ form.Email }}<br>
                <label for="">Message</label><br>
                {{ form.Message }}<br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.4055208330165!2d34.60536157423514!3d-0.8242033991677835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182b49f52ae796bd%3A0x4b5c694d2099db28!2sRONGO%20UNIVERSITY!5e0!3m2!1sen!2ske!4v1710847581607!5m2!1sen!2ske"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>
{% endblock %}